/* General body styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Navigation bar */
header {
    background-color: #0700C4;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
}

.club-logo {
    height: 80px;
    margin-right: 20px;
}

.college-logo {
    height: 80px;
}

.nav-links {
    list-style-type: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color:white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.nav-links a:hover {
    text-decoration: underline;
}

/* Main section */
.main-section {
    text-align: center;
    padding: 50px;
    background-color: #ffffff; /* Changed color to white */
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 30px;
}

.explore-btn {
    padding: 15px 30px;
    font-size: 1.1em;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.explore-btn:hover {
    background-color: #218838;
}

/* Footer styling */
footer {
    background-color: #0700C4;
    color: white;
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    color: #fff;
    margin: 0 10px;
    font-size: 1.5em;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #ffeb3b;
}

/* Responsive Design */
@media (max-width: 768px) {
    .hero-title {
        font-size: 3em;
    }

    .hero-subtitle {
        font-size: 1.2em;
    }

    .nav-links {
        flex-direction: column;
        align-items: center;
    }
}